In [1]:
import pandas as pd
import numpy as np

In [49]:
data = pd.read_csv("laptop_price.csv",encoding="latin-1")
data.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   int32
 8   Gpu               1303 non-null   object
 9   OpSys             1303 non-null   object
 10  Weight            1303 non-null   float32
 11  Price_euros       1303 non-null   float64
dtypes: float32(1), float64(2), int32(1), int64(1), object(7)
memory usage: 112.1+ KB

In [54]:
data['Ram'] = data['Ram'].str.replace("GB","").astype('int32')
data['Weight'] = data['Weight'].str.replace("kg","").astype('float32')

In [55]:
data.head()

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,Intel Iris Plus Graphics 640,Mac,1.37,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,Intel HD Graphics 6000,Mac,1.34,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8,Intel HD Graphics 620,Other,1.86,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16,AMD Radeon Pro 455,Mac,1.83,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8,Intel Iris Plus Graphics 650,Mac,1.37,1803.60

In [16]:
data['Company'].value_counts()

Company
Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         21
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Chuwi          3
Google         3
Fujitsu        3
LG             3
Huawei         2
Name: count, dtype: int64

In [56]:
def add_company(inpt):
    if inpt =="Samsung" or inpt =="Razer" or inpt =="Mediacom" or inpt =="Microsoft" or inpt =="Xiaomi"or inpt =="Vero"or inpt =="Chuwi"or inpt =="Google"or inpt =="Fujitsu"or inpt =="LG"or inpt =="Huawei":
        return "Other"
    else:
        return inpt

data["Company"] = data["Company"].apply(add_company)

In [57]:
data['Company'].value_counts()

Company
Dell       297
Lenovo     297
HP         274
Asus       158
Acer       103
MSI         54
Other       51
Toshiba     48
Apple       21
Name: count, dtype: int64

In [20]:
data['TypeName'].value_counts()

TypeName
Notebook              727
Gaming                205
Ultrabook             196
2 in 1 Convertible    121
Workstation            29
Netbook                25
Name: count, dtype: int64

In [21]:
data['ScreenResolution'].value_counts()

ScreenResolution
Full HD 1920x1080                                507
1366x768                                         281
IPS Panel Full HD 1920x1080                      230
IPS Panel Full HD / Touchscreen 1920x1080         53
Full HD / Touchscreen 1920x1080                   47
1600x900                                          23
Touchscreen 1366x768                              16
Quad HD+ / Touchscreen 3200x1800                  15
IPS Panel 4K Ultra HD 3840x2160                   12
IPS Panel 4K Ultra HD / Touchscreen 3840x2160     11
4K Ultra HD / Touchscreen 3840x2160               10
4K Ultra HD 3840x2160                              7
Touchscreen 2560x1440                              7
IPS Panel 1366x768                                 7
IPS Panel Quad HD+ / Touchscreen 3200x1800         6
IPS Panel Retina Display 2560x1600                 6
IPS Panel Retina Display 2304x1440                 6
Touchscreen 2256x1504                              6
IPS Panel Touchscreen 2560x1440                    5
IPS Panel Retina Display 2880x1800                 4
IPS Panel Touchscreen 1920x1200                    4
1440x900                                           4
IPS Panel 2560x1440                                4
IPS Panel Quad HD+ 2560x1440                       3
Quad HD+ 3200x1800                                 3
1920x1080                                          3
Touchscreen 2400x1600                              3
2560x1440                                          3
IPS Panel Touchscreen 1366x768                     3
IPS Panel Touchscreen / 4K Ultra HD 3840x2160      2
IPS Panel Full HD 2160x1440                        2
IPS Panel Quad HD+ 3200x1800                       2
IPS Panel Retina Display 2736x1824                 1
IPS Panel Full HD 1920x1200                        1
IPS Panel Full HD 2560x1440                        1
IPS Panel Full HD 1366x768                         1
Touchscreen / Full HD 1920x1080                    1
Touchscreen / Quad HD+ 3200x1800                   1
Touchscreen / 4K Ultra HD 3840x2160                1
IPS Panel Touchscreen 2400x1600                    1
Name: count, dtype: int64

In [23]:
data['Cpu'].value_counts()

Cpu
Intel Core i5 7200U 2.5GHz       190
Intel Core i7 7700HQ 2.8GHz      146
Intel Core i7 7500U 2.7GHz       134
Intel Core i7 8550U 1.8GHz        73
Intel Core i5 8250U 1.6GHz        72
                                ...
Intel Core M M3-6Y30 0.9GHz        1
AMD A9-Series 9420 2.9GHz          1
Intel Core i3 6006U 2.2GHz         1
AMD A6-Series 7310 2GHz            1
Intel Xeon E3-1535M v6 3.1GHz      1
Name: count, Length: 118, dtype: int64

In [58]:
data['cpu_name'] = data['Cpu'].apply(lambda x:" ".join(x.split()[0:3]))

In [59]:
data['cpu_name'].value_counts()

cpu_name
Intel Core i7               527
Intel Core i5               423
Intel Core i3               136
Intel Celeron Dual           80
Intel Pentium Quad           27
Intel Core M                 19
AMD A9-Series 9420           12
Intel Celeron Quad            8
AMD A6-Series 9220            8
AMD A12-Series 9720P          7
Intel Atom x5-Z8350           5
AMD A8-Series 7410            4
Intel Atom x5-Z8550           4
Intel Pentium Dual            3
AMD A9-Series 9410            3
AMD Ryzen 1700                3
AMD A9-Series A9-9420         2
AMD A10-Series 9620P          2
Intel Atom X5-Z8350           2
AMD E-Series E2-9000e         2
Intel Xeon E3-1535M           2
Intel Xeon E3-1505M           2
AMD E-Series 7110             2
AMD A10-Series 9600P          2
AMD A6-Series A6-9220         2
AMD A10-Series A10-9620P      2
AMD Ryzen 1600                1
Intel Atom x5-Z8300           1
AMD E-Series E2-6110          1
AMD FX 9830P                  1
AMD E-Series E2-9000          1
AMD A6-Series 7310            1
Intel Atom Z8350              1
AMD A12-Series 9700P          1
AMD A4-Series 7210            1
AMD FX 8800P                  1
AMD E-Series 9000e            1
Samsung Cortex A72&A53        1
AMD E-Series 9000             1
AMD E-Series 6110             1
Name: count, dtype: int64

In [60]:
def set_processor(name):
    if name == "Intel Core i7" or name == "Intel Core i5" or name == "Intel Core i3":
        return name
    else:
        if name.split()[0] =="AMD":
            return 'AMD'
        else:
            return 'Other'
data['cpu_name'] = data['cpu_name'].apply(set_processor)

In [61]:
data['cpu_name'].value_counts()

cpu_name
Intel Core i7    527
Intel Core i5    423
Other            155
Intel Core i3    136
AMD               62
Name: count, dtype: int64

In [33]:
data['Gpu'].value_counts()

Gpu
Intel HD Graphics 620      281
Intel HD Graphics 520      185
Intel UHD Graphics 620      68
Nvidia GeForce GTX 1050     66
Nvidia GeForce GTX 1060     48
                          ...
AMD Radeon R5 520            1
AMD Radeon R7                1
Intel HD Graphics 540        1
AMD Radeon 540               1
ARM Mali T860 MP4            1
Name: count, Length: 110, dtype: int64

In [62]:
data['gpu_name'] = data['Gpu'].apply(lambda x:" ".join(x.split()[0:1]))

In [63]:
data['gpu_name'].value_counts()

gpu_name
Intel     722
Nvidia    400
AMD       180
ARM         1
Name: count, dtype: int64

In [64]:
data = data[data['gpu_name'] != 'ARM']

In [66]:
data['gpu_name'].value_counts()

gpu_name
Intel     722
Nvidia    400
AMD       180
Name: count, dtype: int64

In [65]:
data.head(2)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,cpu_name,gpu_name
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,Intel Iris Plus Graphics 640,Mac,1.37,1339.69,Intel Core i5,Intel
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,Intel HD Graphics 6000,Mac,1.34,898.94,Intel Core i5,Intel

In [39]:
data['OpSys'].value_counts()

OpSys
Windows 10      1072
No OS             66
Linux             62
Windows 7         45
Chrome OS         26
macOS             13
Mac OS X           8
Windows 10 S       8
Android            2
Name: count, dtype: int64

In [52]:
def set_os(inpt):
    if inpt == "Windows 10" or inpt == "Windows 7" or inpt == "Windows 10 S":
        return "Windows"
    elif inpt == "macOS" or inpt == "Mac OS X":
        return "Mac"
    elif inpt == "Linux":
        return inpt
    else:
        return "Other"

data['OpSys'] = data['OpSys'].apply(set_os)

In [67]:
data['OpSys'].value_counts()

OpSys
Windows    1125
Other        94
Linux        62
Mac          21
Name: count, dtype: int64

In [68]:
data.head(2)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Gpu,OpSys,Weight,Price_euros,cpu_name,gpu_name
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8,Intel Iris Plus Graphics 640,Mac,1.37,1339.69,Intel Core i5,Intel
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8,Intel HD Graphics 6000,Mac,1.34,898.94,Intel Core i5,Intel

In [72]:
data = data.drop(columns=['laptop_ID','Inches','Product','ScreenResolution','Gpu','Cpu'])

In [74]:
data.head()

  Company   TypeName  Ram  OpSys  Weight  Price_euros       cpu_name gpu_name
0   Apple  Ultrabook    8    Mac    1.37      1339.69  Intel Core i5    Intel
1   Apple  Ultrabook    8    Mac    1.34       898.94  Intel Core i5    Intel
2      HP   Notebook    8  Other    1.86       575.00  Intel Core i5    Intel
3   Apple  Ultrabook   16    Mac    1.83      2537.45  Intel Core i7      AMD
4   Apple  Ultrabook    8    Mac    1.37      1803.60  Intel Core i5    Intel

In [75]:
data = pd.get_dummies(data)

In [76]:
data.head(2)

,Ram,Weight,Price_euros,Company_Acer,Company_Apple,Company_Asus,Company_Dell,Company_HP,Company_Lenovo,Company_MSI,...,OpSys_Other,OpSys_Windows,cpu_name_AMD,cpu_name_Intel Core i3,cpu_name_Intel Core i5,cpu_name_Intel Core i7,cpu_name_Other,gpu_name_AMD,gpu_name_Intel,gpu_name_Nvidia
0,8,1.37,1339.69,False,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False
1,8,1.34,898.94,False,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [78]:
data.shape

(1302, 30)

In [80]:
x = data.drop('Price_euros',axis=1)
y = data['Price_euros']

In [85]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(x,y,test_size=0.25)

In [86]:
X_train.shape, X_test.shape

((976, 29), (326, 29))

In [87]:
def model_acc(model):
    model.fit(X_train,Y_train)
    acc = model.score(X_test,Y_test)
    print(str(model)+' --> ' +str(acc))

In [89]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
model_acc(lr)

LinearRegression() --> 0.6848678879984885

In [90]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
model_acc(lr)

from sklearn.linear_model import Lasso
ls = Lasso()
model_acc(ls)

from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor()
model_acc(dtr)

from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor()
model_acc(rfr)

LinearRegression() --> 0.6848678879984885
Lasso() --> 0.6850812016734085
DecisionTreeRegressor() --> 0.5348505806009239
RandomForestRegressor() --> 0.7162537512178885

In [91]:
import pickle

In [92]:
with open('laptopPricePredictor.pickle','wb') as file:
    pickle.dump(rfr,file)

In [93]:
X_train.columns

Index(['Ram', 'Weight', 'Company_Acer', 'Company_Apple', 'Company_Asus',
       'Company_Dell', 'Company_HP', 'Company_Lenovo', 'Company_MSI',
       'Company_Other', 'Company_Toshiba', 'TypeName_2 in 1 Convertible',
       'TypeName_Gaming', 'TypeName_Netbook', 'TypeName_Notebook',
       'TypeName_Ultrabook', 'TypeName_Workstation', 'OpSys_Linux',
       'OpSys_Mac', 'OpSys_Other', 'OpSys_Windows', 'cpu_name_AMD',
       'cpu_name_Intel Core i3', 'cpu_name_Intel Core i5',
       'cpu_name_Intel Core i7', 'cpu_name_Other', 'gpu_name_AMD',
       'gpu_name_Intel', 'gpu_name_Nvidia'],
      dtype='object')

In [94]:
rfr.predict(X_test)

array([1419.1345    , 1127.28105476,  549.6308    , 1049.17209524,
        213.961     , 2284.2721    , 1229.970775  , 1244.16286667,
       1760.34183333,  854.58461905,  708.75374524, 1786.52218333,
        621.4338    , 1538.1817    , 2134.45748206, 1654.5236881 ,
        313.02966667, 2702.80967036, 1111.4761619 , 1229.73263333,
       2060.3882    , 1138.09      ,  569.91973333, 1134.34216667,
       1275.4896231 , 1240.79802698, 1188.97247143,  746.38382917,
       1926.35492222, 1013.22502833, 1975.68823413,  768.89637284,
       1762.684     , 1432.45297194,  995.046     , 1375.27633333,
       1048.28755833,  454.86459667,  470.272     ,  350.32883333,
       2688.39      , 1043.93911667, 2086.1336    , 1237.40916667,
       1628.3126    ,  839.3756    , 1770.19274   , 1499.37296667,
        882.60038136, 2281.13262857,  991.38396667, 1966.56326667,
        405.11614286, 1094.31526369,  350.55586667, 1790.7198869 ,
        793.56936667, 1445.10833333, 1014.84706667, 2281.13262857,
       1609.49525   ,  517.01597333,  558.36633381,  286.14266667,
        405.11614286,  731.1484    , 1287.76336667, 2070.9315    ,
        852.68825833,  852.68825833, 2538.31666667,  759.0924    ,
        225.858     , 1759.38159524,  423.0707381 , 1070.92656667,
        571.95083333, 1432.45297194, 1459.80516667, 1181.62814416,
       1905.34788889, 1321.56833333, 1241.54451667,  979.67566667,
        501.8534    ,  514.0362    ,  649.0475    , 2560.20809333,
       1107.28545524, 1099.30226667, 2162.00331167,  989.47518667,
        290.00765   ,  573.4232    ,  314.95469167, 1507.55315714,
       2018.37048214,  757.92523333, 2181.48442381, 1048.28755833,
       3012.53038881,  707.51665   , 1600.21312381,  563.935025  ,
       1781.33923333, 1172.562885  , 1571.07353333,  313.02966667,
       2239.24856364,  903.35      ,  635.8285    ,  434.47468333,
        922.07576667,  930.836875  , 1280.96634286, 1432.19048333,
       1101.78450417,  398.82336857,  532.9236    , 1661.73870952,
       1073.76155333, 1063.92641833,  364.418     ,  954.16756667,
       2210.27295508, 1703.54806   , 2244.36816667,  895.8689125 ,
        260.81349167, 2257.39      ,  552.27278333,  840.71639262,
        716.22135   ,  803.1529    ,  297.98243016, 1177.59345238,
       1063.90076   , 2799.11590214, 1280.96634286,  650.00845833,
       1520.09283333, 1541.27463095, 1939.74721143,  685.46597143,
        871.96698333,  400.72097667,  865.84952698,  232.578     ,
       1062.5219    ,  571.95083333,  678.65076667, 1205.4788    ,
       2252.91899476,  761.16108833, 1298.03748421, 1035.87720667,
        511.47407048, 1719.80675833, 1751.01845833, 1108.65047619,
       1076.5944    ,  314.95469167,  571.1594    ,  524.69162048,
       1953.00438333,  461.45486667,  793.56936667, 2340.29      ,
        292.981     , 1076.5944    , 1241.54451667, 1284.45275   ,
       1576.21748333,  982.13101879,  454.97      , 1476.330955  ,
        818.186625  ,  552.27278333, 1844.15679583, 1071.79195667,
        365.538     ,  398.82336857,  315.76633333,  340.5127381 ,
       2702.80967036, 2160.26712381,  584.78457214, 2221.45723333,
        849.63769167,  794.90952214, 1360.64833333,  713.67      ,
        373.314     ,  550.6067    , 2315.74927714,  540.8801    ,
        812.39805357,  802.95421   ,  936.52191667,  662.38273333,
       1104.7405    , 1410.37660714, 1339.59625   , 1591.99916667,
       1003.28701667,  537.44500357, 2102.09782857, 1329.70673333,
       1939.74721143,  468.9304    ,  738.98951371,  916.216     ,
        397.25433333, 1935.54254333,  911.7195    , 1295.57666667,
        367.78      ,  814.04571857,  821.64391429, 2616.20305929,
        698.9382    , 1169.39466667,  438.27497143,  970.44969167,
        862.053995  ,  328.32898254, 2351.23857333, 1500.08666667,
       1440.90472667, 1586.72821578,  665.087135  ,  557.1646    ,
        365.538     , 1209.40919583, 2006.35514762, 1481.04039333,
        673.22836667, 3012.53038881,  914.4351381 ,  371.125     ,
       1470.25530476, 1040.64866667, 1373.98695238, 1001.34644032,
        534.82588167,  560.537     ,  510.50287048,  715.26415   ,
       2351.23857333, 1267.58020833,  297.98243016, 1013.41473333,
        765.86836381,  764.89576667,  771.0205875 , 1920.36023   ,
       2315.74927714,  718.3523899 ,  923.07830952,  534.82588167,
        922.52570583,  397.67214762, 1489.34705238, 2204.60575833,
       1473.58743   ,  856.0364    , 1331.07401667,  640.13452738,
        783.09256667, 2441.24119048, 2067.13681111,  815.37870667,
        397.2288    ,  791.2891    ,  838.87978571, 1348.08      ,
       1069.62096667, 1037.1949    , 2406.65286548,  523.4891    ,
       1280.96634286,  329.38634921,  421.97659167, 1035.02942857,
       1240.79802698,  921.82356667,  297.43815357, 2037.83618   ,
        325.996     ,  338.54439167, 1446.52566667, 1363.55429571,
       1387.67183333, 1576.21748333, 1574.91143143,  677.08705   ,
       1032.67342516, 1035.01963889,  279.74333333, 1937.51032024,
        540.8801    , 1926.55      , 1707.22554167,  757.92523333,
        692.824975  ,  678.65076667, 1671.8805    ,  697.34225   ,
        636.2085    ,  385.15459048, 1864.625     , 2046.22804   ,
       1501.66524167,  852.68825833, 1259.84103333,  597.01341667,
       1503.63465   ,  389.06895357,  660.2845    ,  948.1251    ,
        470.71203952, 2070.9315    , 1800.70893175, 1654.5236881 ,
       1902.81657944, 2207.03333333])

In [95]:
X_train.columns

Index(['Ram', 'Weight', 'Company_Acer', 'Company_Apple', 'Company_Asus',
       'Company_Dell', 'Company_HP', 'Company_Lenovo', 'Company_MSI',
       'Company_Other', 'Company_Toshiba', 'TypeName_2 in 1 Convertible',
       'TypeName_Gaming', 'TypeName_Netbook', 'TypeName_Notebook',
       'TypeName_Ultrabook', 'TypeName_Workstation', 'OpSys_Linux',
       'OpSys_Mac', 'OpSys_Other', 'OpSys_Windows', 'cpu_name_AMD',
       'cpu_name_Intel Core i3', 'cpu_name_Intel Core i5',
       'cpu_name_Intel Core i7', 'cpu_name_Other', 'gpu_name_AMD',
       'gpu_name_Intel', 'gpu_name_Nvidia'],
      dtype='object')

In [105]:
rfr.predict([[8, 1.3, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0]])

D:\Software Installations\Anaconda\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([1864.44165714])